<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせの詳細画面</title>
</head>
<body>
	<table border="1">
		<tr>
			<td>お問い合わせID</td>
			<td th:text="*{contact.id}"></td>
		</tr>
		<tr>
			<td>姓</td>
			<td th:text="*{contact.lastName}"></td>
		</tr>
		<tr>
			<td>名</td>
			<td th:text="*{contact.firstName}"></td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td th:text="*{contact.email}"></td>
		</tr>
		<tr>
			<td>電話番号</td>
			<td th:text="*{contact.phone}"></td>
		</tr>
		<tr>
			<td>郵便番号</td>
			<td th:text="*{contact.zipCode}"></td>
		</tr>
		<tr>
			<td>住所</td>
			<td th:text="*{contact.address}"></td>
		</tr>
		<tr>
			<td>建物名</td>
			<td th:text="*{contact.buildingName}"></td>
		</tr>
		<tr>
			<td>お問い合わせ種別</td>
			<td th:text="*{contact.contactType}"></td>
		</tr>
		<tr>
			<td>内容</td>
			<td th:text="*{contact.body}"></td>
		</tr>
		<tr>
			<td>作成日時</td>
			<td th:text="*{contact.createdAt}"></td>
		</tr>
		<tr>
			<td>更新日時</td>
			<td th:text="*{contact.updatedAt}"></td>
		</tr>
	</table>
	<form th:action="@{/admin/contacts/{id}/edit(id=*{contact.id})}" method="get">
		<input type="submit" value="編集">
	</form>
	<form th:action="@{/admin/signout}" method= "get">
		<input type ="submit" value="ログアウト">
	</form>
</body>
</html>