<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせの一覧画面</title>
</head>
<body>
	<h1>お問い合わせの一覧画面</h1>
	<table border="1">
		<thead>
			<tr>
				<th>お問い合わせID</th>
				<th>姓</th>
				<th>名</th>
				<th>お問い合わせ種別</th>
				<th>作成日時</th>
				<th>更新日時</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="contact : ${contactList}">
				<td th:text="*{contact.id}"></td>
				<td th:text="*{contact.lastName}"></td>
				<td th:text="*{contact.firstName}"></td>
				<td th:text="*{contact.contactType}"></td>
				<td th:text="*{contact.createdAt}"></td>
				<td th:text="*{contact.updatedAt}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>