<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者ログイン</title>
</head>
<body>
	<h1>管理者のログイン画面</h1>
	<div th:if="${param.error}" style="color.red">
		ログインに失敗
	</div>
	<div th:if="${param.logout}" style="color.red">
		ログアウト
	</div>
	
	<form th:action="@{/admin/signin}" method="post">
		<table border="1">
			<tr>
				<td>メールアドレス</td>
				<td>
					<input type="text" name="email">
				</td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td>
					<input type="password" name="password">
				</td>
			</tr>
		</table>
		<input type="submit" value="ログイン">
	</form>
	<form th:action="@{/admin/signup}" method="get">
		<input type="submit" value="新規登録">
	</form>
</body>
</html>